// WIFI
#define DEFAULT_WIFI_NAME "SSID"
#define DEFAULT_WIFI_PASSWORD "password"

// MQTT
#define DEFAULT_MQTT_SERVER "IP Address"
#define DEFAULT_MQTT_PORT 1883
#define DEFAULT_MQTT_USERNAME "UserName"
#define DEFAULT_MQTT_PASSWORD "Password"

// SYSTEM
#define DEFAULT_SYSTEM_USER "admin"
#define DEFAULT_SYSTEM_PASSWORD "admin"
