// WIFI
#define DEFAULT_WIFI_NAME ""
#define DEFAULT_WIFI_PASSWORD ""

// MQTT
#define DEFAULT_MQTT_SERVER "IP Address"
#define DEFAULT_MQTT_PORT 1883
#define DEFAULT_MQTT_USERNAME ""
#define DEFAULT_MQTT_PASSWORD ""

// SYSTEM
#define DEFAULT_SYSTEM_USER "admin"
#define DEFAULT_SYSTEM_PASSWORD "admin"
